<footer>
    <div class="container">
         <div class="footer-infos">
            <div class="column1">
                <p>Este projeto te ajuda a conhecer mais detalhes sobre termos mais buscados pelos brasileiros.</p>
            </div>
            <div class="column2">
                <p><strong>Consultor visual: </strong><a href="#">Alberto Cairo</a></p>
                <p><strong>Design e desenvolvimento: </strong><a href="#">Lucas Thaynan</a></p>
                <p><strong>Dados e automação: </strong><a href="#">Carina Dourado</a></p>
                <p><strong>Coordenação Google Trends: </strong><a href="#">Gabriela Caesar, Keila Guimarães e Simon Rogers</a></p>
                <p><strong>Coordenação Estadão: </strong><a href="#">Ricardo Grinbaum</a></p>
                    
            </div>
            <div class="column3">
                <div class="estadao">
                    <p>um projeto</p>
                    <img class="estadao" src="./imagens/logo-estadao.svg" alt="">
            
                </div>
                <div class="trends">
                    <p>em parceria com</p>
                    <img class="trends" src="./imagens/logo-google-trends.svg" alt="" >
                </div>
            </div>
         </div>

         <div class="footer-politics">
            <div>
                <a href="#">Política de privacidade</a>
            </div>
            
        </div>
        
    </div>
    
</footer>