<header class="page-template" style="background-color: #4285f4">
    <div class="container">
      <div class="items-menu">
        <div class="menu">
          <img src="/imagens/menu.svg" alt="Ícone do menu" />
        </div>
        <div class="logos-top">
          <img class="logos-svg" src="/imagens/logos-top.svg" alt="" />
        </div>
        <div class="search">
          <p>Buscar</p>
          <img
            class="search-icon"
            src="/imagens/lupa.svg"
            alt="Ícone de busca"
          />
        </div>
      </div>
      <div class="container-termo">
        <div class="termo">
          <h1>O que é <br /><strong>flopou</strong><strong> ?</strong></h1>
          <!-- <p>?</p> -->
        </div>
        <div class="btn-redes">
          <img src="/imagens/btn-zap.svg" alt="" />
          <img src="/imagens/btn-twitter.svg" alt="" />
          <img src="/imagens/btn-link.svg" alt="" />
        </div>
      </div>
    </div>
  </header>